$image-width: 200px;
$cart-width: 150px;
$fixed-padding: 20px;

@font-face {
  font-family: 'Comic Sans MS';
  font-style: normal;
  src: url('../assets/fonts/ComicSansMS3.ttf');
}

body {
  font-family: "Comic Sans MS", "Arial", sans-serif;
}

#app {

  div.cart {
    padding: 2px;
    width: $cart-width;
    margin-top: 5px;
    border: 1px gray solid;
    text-align: center;
    position: fixed;
    background: #fff;
    button {
      margin: 20px 0px;
    }
  }

  div.product {
    padding: 2% 15%;
    // margin-top: -10%;
    display: inline-block;

    div {
      padding: $fixed-padding;

      @at-root {
        .product-image {
          float: left;

          img {
            width: $image-width;
          }
        }

        .product-info {
          float: left;

          // disable padding inside div of product-info
          .cart-box {
            padding: 0px !important;
          }

          button {
            margin-top: 10px;
            padding: 12px;
            background: aqua;
            border: 1px gray solid;
            cursor: pointer;
          }

          .color-box {
            width: 20px;
            height: 20px;
            margin-right: 15px;
            display: table-cell;
            cursor: pointer;
          }

          // .outOfStock {
          //   text-decoration: line-through;
          // }

          .disabledButton {
            border: 1px red solid;
            cursor: auto;
          }

          div.review-box,
          form.review-form {
            border: 1px gray solid;
            padding: $fixed-padding;
            margin: 6px 0px;
          }
        }
      }
    }
  }
}